<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.activation.title}">JHipster creation</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p th:text="#{email.activation.greeting(${user.login})}">
            亲
        </p>
        <p th:text="#{email.activation.text1}">
            账户已经被创建，请点击下方链接激活!
        </p>
        <p>
          <a th:href="@{|${baseUrl}/#/reset/finish?key=${user.resetKey}|}"
             th:text="|${user.login}|">login</a>
        </p>
        <p>
            <span th:text="#{email.activation.text2}">问候, </span>
            <br/>
            <em th:text="#{email.signature}">橘子菜园.</em>
        </p>
    </body>
</html>
