<div class="form-horizontal">
    <div class="form-group">
        <label class="col-md-1 control-label">
            地址
        </label>
        <div class="input-group col-md-3">
            <select required="" class="form-control" ng-model="address.province" ng-options="key as key for (key,value) in division"
                    ng-change="address.city='';address.district='';">
                <option value="">省</option>
            </select>
            <select class="form-control" ng-model="address.city" ng-options="key as key for (key,value) in division[address.province]"
                    ng-change="address.district='';">
                <option value="">市</option>
            </select>
            <select class="form-control" ng-model="address.district" ng-options="value as value for value in division[address.province][address.city]">
                <option value="">区</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-1 control-label">
            街道位置
        </label>
        <div  class="col-lg-6">
            <input type="text" class="form-control" name="street" placeholder="街道位置"
                   ng-model="address.street" required>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label">
            是否设置为默认地址
        </label>
        <div class="col-md-1">
            <label>
                <input type="radio" ng-model="address.isDefault" value="YES">
                YES
            </label>
            <br/>
            <label>
                <input type="radio" ng-model="address.isDefault" value="NO">
                NO
            </label>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-primary btn-sm" ng-click="submit()">
                提交
            </button>
        </div>
    </div>
</div>
