<div class="col-md-12">
    <div class="col-md-3" ng-repeat="order in orders">
        <!--<img ng-src="data:image/jpg;base64,{{order.dish.dishPhoto}}"  class="col-md-3"/>-->
    </div>
    <div class="col-md-9 col-md-offset-1">


            <div ng-repeat="order in orders">
                <div>
                    <span>订单编号:{{order.id}}</span>
                    <sapn  class="col-md-2">订单金额：{{order.totalPrice}}</sapn>
                    <span  class="col-md-2">
                        <span ng-if="order.orderStatus == 1">
                            <a ui-sref="orderpay({id:order.id})">{{orderStatus[order.orderStatus]}}</a>
                        </span>
                        <span ng-if="order.orderStatus != 1">
                            {{orderStatus[order.orderStatus]}}
                        </span>
                    </span>
                    <div>
                        <table class="table table-bordered">
                            <tr>
                                <td class="info col-md-1">Num</td>
                                <td class="info col-md-2">名称</td>
                                <td class="info col-md-1">价格</td>
                                <td class="info col-md-1">数量</td>
                                <td class="info col-md-1">小计</td>
                            </tr>

                            <tr ng-repeat="orderItem in order.orderItemList">
                                <td class=" col-md-1">{{$index + 1}}</td>
                                <td class=" col-md-2">{{orderItem.dish.chineseName}}</td>
                                <td class=" col-md-1">{{orderItem.count}}</td>
                                <td class=" col-md-1">{{orderItem.dish.discountPrice}}</td>
                                <td class=" col-md-1">{{orderItem.subtotal}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
    </div>
</div>

