<div>
    <div class="col-md-10">
        <div class="col-md-5">
            <div>
                <img ng-src="data:image/jpg;base64,{{dish.dishPhoto}}"  width="400" height="440"/>
            </div>
        </div>
        <div class="col-md-6 col-md-offset-1">
            <div class="table-responsive">
                <table class="jh-table table table-striped">
                    <tr>
                        <th>菜名</th>
                        <td><span>{{dish.chineseName}}</span></td>
                    </tr>
                    <tr>
                        <th>是否热销</th>
                        <td><span>{{dish.isHot == 1 ?'热销':''}}</span></td>
                    </tr>
                    <tr>
                        <th>市场价</th>
                        <td><span>￥{{dish.originalPrice}}</span></td>
                    </tr>
                    <tr>
                        <th>优惠价</th>
                        <td><span>￥{{dish.discountPrice}}</span></td>
                    </tr>
                </table>
                <div>
                    <button class="down" id="decrement" ng-click="decrement(dish)">-</button>
                    <input id="number" ng-model="cartDetails.count" ng-init="cartDetails.count='1'"
                           type="text" ng-blur="changeCount(dish.count)">
                    <button class="up" id="increment" ng-click="increment(dish)">+</button>
                    <span class="col-lg-offset-1">小计: ￥{{dish.subtotal}}</span>
                </div>
                <br/>
                <img src="../../../../assets/images/cart.png" ng-click="addCart(dish)"/>
            </div>
        </div>
    </div>
</div>
