<div>
    <p></p>
    <div class="row">
        <div class="col-sm-6 col-md-3"  ng-repeat="dish in dishs">
            <div class="thumbnail">
                <a ui-sref="dish.detail({id:dish.id})"><img ng-src="data:image/jpg;base64,{{dish.dishPhoto}}"/></a>
                <div class="caption text-center">
                    <h3 class="text-center" ui-sref="dish.detail({id:dish.id})" style="color: royalblue">{{dish.chineseName}}</h3>
                    <p class="text-center" ui-sref="dish.detail({id:dish.id})">{{dish.description}}</p>
                    <img src="../../../../assets/images/cart.png" ng-click="addCart(dish)"/>
                </div>
            </div>
        </div>
    </div>

</div>