<div class="col-md-12">
    <div class="col-md-12">
        <table class="table table-bordered">
            <tr>
                <td class="info col-md-1">Num</td>
                <td class="waring col-md-2">名称</td>
                <td class="danger col-md-2">数量</td>
                <td class="info col-md-2">售价</td>
                <td class="info col-md-1">小计</td>
                <td class="danger col-md-1">操作</td>
            </tr>
            <tr ng-repeat="cartDetail in carts.cartDetailsList">
                <td class="info col-md-1">{{$index + 1}}&nbsp;&nbsp;&nbsp;&nbsp;
                    <label>
                        <input type="checkbox" name="cartDetailsList" ng-model="cartDetail.check"
                               value="{{cartDetail.id}}"/>
                    </label>
                </td>
                <td ui-sref="dish.detail({id:cartDetail.dish.id})" class="waring col-md-2">
                    <img ng-src="data:image/jpg;base64,{{cartDetail.dish.dishPhoto}}" class="col-md-3"/>
                    {{cartDetail.dish.chineseName}}
                </td>
                <td class="danger col-md-2">
                    <button class="down" id="decrement" ng-click="decrement(cartDetail)">-</button>
                    <input id="number" ng-model="cartDetail.count" style="width: 50px"
                           type="text" ng-blur="changeCount(cartDetail)" ng-change="changeCount(cartDetail)">
                    <button class="up" id="increment" ng-click="increment(cartDetail)">+</button>
                </td>
                <td ui-sref="dish.detail({id:cartDetail.dish.id})" class="info col-md-2">{{cartDetail.dish.discountPrice}}</td>
                <td ui-sref="dish.detail({id:cartDetail.dish.id})" class="info col-md-2">{{cartDetail.subtotal}}</td>
                <td class="danger col-md-1">
                    <a id="del" ng-click="updateCartDetail(cartDetail)">删除</a>
                </td>
            </tr>
        </table>
    </div>
</div>
<hr/>
<div>
    <span>总计：￥{{carts.total}}</span>
</div>
<hr/>
<div>
    <button class="btn btn-success col-md-2 col-md-offset-2" ng-click="goAccount()">去结算</button>
</div>
<br/>
