<div>
    <div class="col-md-3" ng-repeat="cartDetail in carts.cartDetailsList">
        <img ng-src="data:image/jpg;base64,{{cartDetail.dish.dishPhoto}}"  class="col-md-3"/>
    </div>
    <div class="col-md-9 col-md-offset-1">
        <table class="table table-bordered">
            <tr>
                <td class="info col-md-1">Num</td>
                <td class="waring col-md-2">名称</td>
                <td class="danger col-md-2">数量</td>
                <td class="info col-md-2">售价</td>
                <td class="info col-md-1">小计</td>
                <td class="danger col-md-1">操作</td>
            </tr>
            <tr ng-repeat="cartDetail in carts.cartDetailsList">
                <td ui-sref="dish.detail({id:dish.id})" class="info col-md-1">{{$index + 1}}</td>
                <td ui-sref="dish.detail({id:dish.id})" class="waring col-md-2">{{cartDetail.dish.chineseName}}</td>
                <td ui-sref="dish.detail({id:dish.id})" class="danger col-md-2">{{cartDetail.count}}</td>
                <td ui-sref="dish.detail({id:dish.id})" class="info col-md-2">{{cartDetail.dish.discountPrice}}</td>
                <td ui-sref="dish.detail({id:dish.id})" class="info col-md-2">{{cartDetail.subtotal}}</td>
                <td class="danger col-md-1">
                    <a id="del" ng-click="updateCartDetail(cartDetail)">删除</a>
                </td>
            </tr>
        </table>
    </div>
</div>
<hr/>
<div>
    <span>总计：￥{{carts.total}}</span>
</div>
<div>
    提交订单
</div>
